<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="description" content="Jarvis Local Help">
        <meta name="keywords" content="A local network helper">
        <meta name="revisit-after" content="3 days">
        <meta name="robots" content="index, follow, noarchive">

        <title>RSA Python</title>

        <link rel="stylesheet" type="text/css" href="../../../assets/css/modern-normalize-min.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/css/fonts-min.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/css/min.css">
        <link rel="stylesheet" type="text/css" href="../../../assets/css/custom.css">
    </head>

    <body>
        <section class="main-content">
            <div id="home"><br>
<pre><code>
'''
# System --> Windows & Python3.8.0
# File ----> main.py
# Author --> Illusionna
# Create --> 2024/05/08 11:47:54
'''
# -*- Encoding: UTF-8 -*-


import os
import random
import platform

def cls() -> None:
    os.system('')
    try:
        os.system(
            {'Windows': 'cls', 'Linux': 'clear'}[platform.system()]
        )
    except:
        print('\033[H\033[J', end='')
cls()

# 判断是否是素数
def is_prime(n):
    if n == 2:
        return True
    for i in range(2, n // 2 + 1):
        if n % i == 0:
            return False
    return True

# 生成两个不同的素数p,q
def get_pq():
    p, q = 0, 0
    while True:
        p, q = random.randint(10, 100), random.randint(10, 100)
        if is_prime(p) and is_prime(q) and p != q:
            return p, q

# 生成e和d
def get_ed(p, q):
    phn = (p - 1) * (q - 1) # n的欧拉函数
    while True:
        e = random.randint(2, 50)
        if is_prime(e):
            for d in range(2, 1000):
                if e * d % phn == 1:
                    return e, d


if __name__ == '__main__':
    p, q = get_pq()
    n = p * q
    e, d = get_ed(p, q)
    print("公钥: (n,e) =", (n, e))
    print("私钥: (n,d) =", (n, d))
    m = [random.randint(2, 100) for i in range(10)]
    c = [mi ** e % n for mi in m]
    print("明文 m =", m)
    print("密文 c =", c)
    print("解密 m =", [ci ** d % n for ci in c])
</code></pre>
            </div>
        </section>
    </body>
</html>
